AIRFLOW_FERNET_KEY=vkvPAzhwEr3vyJYpcXBDbkeQKROycRrmi6kY_R6tSzg=
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
POSTGRES_DATA_DB=crypto_market
AIRFLOW_SECRET_KEY=9f8a5c4e6c8d0b4a2f1e3c5d7b9a8c6d4e2f1a3b5c7d9e0f2a4b6c8d0e1f3a5c7d9e0f2a4b6c8d0e1f3a5c7d9e0f2a
AIRFLOW_API_AUTH_JWT_SECRET=9f8a5c4e6c8d0b4a2f1e3c5d7b9a8c6d4e2f1a3b5c7d9e0f2a4b6c8d0e1f3a5c7d9e0f2a4b6c8d0e1f3a5c7d9e0f2a

AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1
S3_ENDPOINT_URL=http://localstack:4566
S3_BUCKET=crypto-market-raw-data

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC_CRYPTO=crypto_market_raw